
<div class="sideNav">
    <div class="first">
        <div class="size-button">
            <button type="button" class="btn-hide btn btn-primary"><i class="bi bi-list"></i></button>
        </div>
        <ul>
            <li><a href="/"><i class="bi bi-fast-forward-circle-fill"> YouDo</i></a></li>
        </ul>
    </div>

    <div class="page">
        <ul>
            <li><a href="/">Beranda</a></li>
        </ul>
            <div class="searchform">
                <form class="d-flex" role="search" style="display: flex; flex-direction: column;" action="/search" method="get">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <br>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
            </div>
       
    </div>
</div>