<div class="nav">
    
        <div class="sideNav">
            <div class="first">
                <div class="size-button">
                    <button type="button" class="btn-hide btn btn-primary"><i class="bi bi-list"></i></button>
                </div>
                <ul>
                    <li><a href="/"><i class="bi bi-fast-forward-circle-fill"> YouDo</i></a></li>
                </ul>
            </div>

            <div class="page">
                <ul>
                    <li><a href="/">Beranda</a></li>
                </ul>
                    <div class="searchform">
                        <form class="d-flex" role="search" style="display: flex; flex-direction: column;" action="/search" method="get">
                            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                            <br>
                            <button class="btn btn-outline-success" type="submit">Search</button>
                          </form>
                    </div>
               
            </div>
        </div>
   

    <div class="topNav">
       <div class="width-flex">
        <div class="flex">
            <div class="tittle">
                <div class="size-button">
                    <button type="button" class="btn-show btn btn-primary"><i class="bi bi-list"></i></button>
                </div>
                <ul>
                    <li><a href="/"><i class="bi bi-fast-forward-circle-fill"> YouDo</i></a></li>
                </ul>
            </div>
            <div class="search">
                <form class="d-flex" role="search" action="/search" method="get">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
            </div>
            <div class="profile">
                <ul>
                    <li><a href="/dasbord/upload"><i class="bi bi-camera-reels"></i></a></li>
                    <li><a href="/login" class="btn btn-primary">Login</a></li>
                    <li><a href="/register">Create Account</a></li>
                </ul>
            </div>
        </div>
       </div>
    </div>
</div>


